.blueandbold {
  color: #2e5bff;
  letter-spacing: 0;
  font-weight: 600;
  line-height: 22px;
}
.bgcolor {
  background-color: white;
}
.numbercolor {
  color: #8798ad;
}
.addresssize {
  font-style: normal;
  font-size: 15px;
  line-height: 18px;
}
.btnsize {
  padding: 2px;
  font-size: 15px;
  font-weight: 500;
  background-color: #2e5bff;
  border: 1px solid #2e5bff;
  color: white;
}
.btnsize:hover {
  color: white;
}
.darkblue_text {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #2e384d;
  letter-spacing: 0;
  line-height: 22px;
}

.light_gray_text {
  font-size: 15px;
  color: #8798ad;
  letter-spacing: 0;
  line-height: 22px;
}
