.sizeofmodule {
  max-width: 250px;
  min-width: 180;
  padding: 20px;
}
.light_gray_text {
  font-size: 15px;
  color: #8798ad;
  letter-spacing: 0;
  line-height: 22px;
}

*:focus {
  outline: none;
}
.bg_white {
  background: white;
}
.filter-label {
  color: #000;
}
.total_numbers {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #8798ad;
}
.main_title {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 28px;
  line-height: 38px;
  color: #21252e;
}
