.button {
  background: #2e5bff;
  color: white;
  padding: 1px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  width: 90%;
  height: 40px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  border-radius: 5px;
  font-weight: 500;
  border: 0px solid black;
}
h2 {
  font-weight: 300;
}
/* .button:hover {
    background-color: #1e45d3;
    border-radius: 5px;
    transition: all 0.5s ease-in;
  } */
.button_active:focus {
  background-color: rgba(46, 91, 255, 0.2);
  color: #2e5bff;
  border-radius: 5px;
  transition: all 0.5s ease-in;
}
.positionrel {
  position: relative;
}
.sizeofmodule {
  max-width: 250px;
  min-width: 180;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn--rounded {
  padding: 10px;
  border-radius: 70%;
  background-color: #2e5bff;
  color: white;
}
.btn--rounded span {
  font-size: 30px;
}
.btn--rounded:hover {
  color: white;
  transform: translate(1px);
}
.plusbuttonpositon {
  position: absolute;
  position: fixed;
  right: 1%;
  top: 90%;
}

@media screen and (max-width: 766px) {
  .plusbuttonpositon {
    right: 1%;
  }
}
.button:visited {
  opacity: 0.2;
  color: #183dc3;
}
.numbercolor {
  font-weight: bolder;
  font-size: 12px;
  color: "#B0BAC9";
}

.light_gray_text {
  font-size: 15px;
  color: #8798ad;
  letter-spacing: 0;
  line-height: 22px;
}
