
.f{
  color:purple
}
.button_active:focus {
  background-color: rgba(46, 91, 255, 0.2);
  color: #2e5bff;
  border-radius: 5px;
  transition: all 0.5s ease-in;
}
.sizeofmodule {
  max-width: 250px;
  min-width: 180;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.offer-span {
  font-size: 13px;
  line-height: 15px;
  color: #8798ad;
}
.offer-description {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #2E384D;
}
.offer-notes {
  font-weight: 500;
  font-size: 15px;
  color: #8798AD;
}
.font15 {
  font-size: 15px;
}
.flabelStyle {
  font-weight: bolder;
  font-size: 12px;
  color: #8798ad;
}

