*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif !important;
  background-color: #f4f6fc !important;
  height: 100% !important;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
h1,
h2,
h3,
h4,
h5,
p {
  font-weight: 500;
}

.gray_text {
  color: #8798AD;
}

.blue_text {
  color: #2E5BFF;
}

.black_text {
  color: #2E384D;
}

.blue20_text {
  color: rgba(46, 91, 255, 0.2);
}

.auto_margin {
  margin: auto;
}

.bold {
  font-weight: 600;
}

li a {
  color: #2E384D;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0;
  list-style: none;
  justify-self: center;
}

ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

ul li a {
  padding: 10px;
  border-radius: 5px;
  text-decoration: none !important;
}

ul li a:hover {
  color: #2E5BFF;
  background-color: rgba(46, 91, 255, 0.1);
}

.select-panel ul {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.select-panel ul li {
  width: 100%;
}

.active {
  background-color: rgba(46, 91, 255, 0.2);
  color: #2E5BFF;
}

.btn-secondary {
  background-color: rgba(46, 91, 255, 0.2);
  color: #2E5BFF;
}

.btn-secondary:hover {
  background-color: rgba(0, 47, 219, 0.2);
  color: #2E5BFF;
}

.nobg_btn_red {
  background-color: transparent;
  color: #D63649;
  font-weight: 600;
}

.nobg_btn_purple {
  background-color: transparent;
  color: #8C54FF;
  font-weight: 600;
}

.nobg_btn_purple:hover {
  background-color: rgba(141, 84, 255, 0.3);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nobg_btn_red:hover {
  background-color: rgba(218, 38, 65, 0.2);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.plus_button {
  position: fixed;
  z-index: 1000;
  bottom: 2rem;
  right: 2rem;
  background-color: #2E5BFF;
  color: white;
  width: 5rem;
  height: 5rem;
  border-radius: 2.5rem;
  font-size: 40px;
  cursor: pointer;
  border: #2E5BFF;
  -webkit-box-shadow: #2E5BFF 0px 0px 10px 4px;
          box-shadow: #2E5BFF 0px 0px 10px 4px;
}

.plus_button:hover {
  background-color: #0f43ff;
  color: white;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#filter_module span {
  color: #8798AD;
  font-weight: 500;
}

.hideoverflow {
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  color: transparent;
}

#notification_modal {
  position: absolute;
  right: 10%;
  top: 6.5%;
  z-index: 1000;
  background-color: white;
  min-width: 20%;
  min-height: 20vh;
  border-radius: 0.5rem;
  padding: 1rem;
}

.split_modal {
  z-index: 100;
  padding: 0.25rem;
  max-height: 90vh;
  width: 50vw;
  max-width: 50vw;
  margin: auto;
  padding-bottom: 1rem;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.split_modal_overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
}
/*# sourceMappingURL=style.css.map */