$darkblue:#2E384D;
$white:#fff;
$black:rgb(0, 0, 0);
$blue:#2E5BFF;
$blue_20:rgba(46,91,255,0.2);
$green:#1ab9c9;
$gray:#8798AD;
$green:#33AC2E;
$red:#D63649;
$yellow:#F7C137;
$teal:#00C1D4;
$purple:#8C54FF;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif !important;
  background-color: #f4f6fc !important;
  height: 100%!important;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a,
h1,
h2,
h3,
h4,
h5,
p {
   // color: $darkblue!important;
  font-weight: 500;
}
.gray_text{
color:$gray
}
.blue_text{
  color:$blue
  }
.black_text{
 color:$darkblue
}
.blue20_text{
 color:$blue_20
}
.auto_margin{
  margin: auto;
}
.bold{
  font-weight: 600;
}

li{
  a{
    color:$darkblue ;
  }
} 
ul {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin:0;
    list-style: none;
    justify-self: center;
    li{
      flex:1;
   a{
      padding:10px;
      border-radius: 5px;
      text-decoration: none!important;
    }
    a:hover{
      color: #2E5BFF;
      background-color:rgba(46,91,255,0.1) 
    }
    }
  

}

.select-panel{
  ul{
    flex-direction: column !important;
    li{
      width:100%
    }
  }
}

.active{
  background-color:rgba(46,91,255,0.2);
  color: #2E5BFF;
}
.btn-secondary{
  background-color: $blue_20;
  color: $blue;
}
.btn-secondary:hover{
  background-color: darken($color: $blue_20, $amount: 16) ;
  color: $blue;
}
.nobg_btn_red{
background-color: transparent;
color:$red;
font-weight: 600;
}
.nobg_btn_purple{
  background-color: transparent;
  color:$purple;
  font-weight: 600;
  }
  .nobg_btn_purple:hover{
    background-color:rgba(141, 84, 255, 0.3) ;
    transition: all 0.5s ease;
    }
    .nobg_btn_red:hover{
      background-color:rgba(218, 38, 65, 0.20) ;
      transition: all 0.5s ease;
      }
.plus_button{
  position: fixed;
  z-index: 1000;
  bottom: 2rem;
  right: 2rem;
  background-color: $blue;
  color: white;
  width: 5rem;
  height: 5rem;
  border-radius: 2.5rem;
  font-size: 40px;
  cursor: pointer;
  border: $blue;
  box-shadow: $blue 0px 0px 10px 4px;
}
.plus_button:hover{
  background-color: darken($color: $blue, $amount: 6);
  color: white;
  transition: all 0.4s ease;
  

}
#filter_module{
  span {
      color:$gray;
      font-weight: 500;
  }
}
.hideoverflow{
  overflow: scroll;
  
}
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  color:transparent
}

#notification_modal{
  
  position: absolute;
  right:10%;
  top:6.5%;
  z-index: 1000;
  background-color: white;
  min-width: 20%;
  min-height: 20vh;
  border-radius: 0.5rem;
  padding:1rem;

}

.split_modal{
  z-index: 100;
  padding:0.25rem;
  max-height: 90vh;
  width: 50vw;
  max-width: 50vw;
  margin: auto;
  padding-bottom: 1rem;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
}
.split_modal_overlay{
  height: 100%;
  width: 100%;
background-color: rgba(0, 0, 0, 0.6);
position:fixed;
top: 0;
}